In [1]:
import os
import pandas as pd

In [2]:
directory_path = '/home/vivek/Desktop/mldatasets/datasets/'
print(directory_path)

/home/vivek/Desktop/mldatasets/datasets/

In [3]:
csv_files = [file for file in os.listdir(directory_path) if file.endswith('.csv')]

In [4]:
dataframes = []
for file in csv_files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_csv(file_path)
    dataframes.append(df)

In [5]:
combined_df = pd.concat(dataframes, ignore_index=True)

In [6]:
df2 = pd.read_csv('stock_metadata.csv')

In [7]:
merged_df = pd.merge(combined_df, df2, on='Symbol', how='inner')

In [8]:
merged_df.head()

,Date,Symbol,Series_x,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,Company Name,Industry,Series_y,ISIN Code
0,2008-05-26,BAJAJ-AUTO,EQ,2101.05,898.00,898.0,551.35,600.25,604.75,624.61,3972485,2.481245e+14,NaN,1202933.0,0.3028,Bajaj Auto Ltd.,AUTOMOBILE,EQ,INE917I01010
1,2008-05-27,BAJAJ-AUTO,EQ,604.75,624.70,639.0,580.30,595.50,593.15,606.43,1751063,1.061901e+14,NaN,369389.0,0.2110,Bajaj Auto Ltd.,AUTOMOBILE,EQ,INE917I01010
2,2008-05-28,BAJAJ-AUTO,EQ,593.15,561.65,621.9,561.65,605.10,608.15,608.75,1652355,1.005877e+14,NaN,898602.0,0.5438,Bajaj Auto Ltd.,AUTOMOBILE,EQ,INE917I01010
3,2008-05-29,BAJAJ-AUTO,EQ,608.15,619.40,619.4,576.00,600.00,599.45,600.98,669269,4.022165e+13,NaN,449951.0,0.6723,Bajaj Auto Ltd.,AUTOMOBILE,EQ,INE917I01010
4,2008-05-30,BAJAJ-AUTO,EQ,599.45,605.40,607.0,538.00,576.25,571.70,565.55,1262117,7.137937e+13,NaN,936432.0,0.7420,Bajaj Auto Ltd.,AUTOMOBILE,EQ,INE917I01010

In [10]:
merged_df.drop(['Trades','Series_y', 'ISIN Code'], axis=1, inplace=True)

In [11]:
merged_df.head()

,Date,Symbol,Series_x,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Deliverable Volume,%Deliverble,Company Name,Industry
0,2008-05-26,BAJAJ-AUTO,EQ,2101.05,898.00,898.0,551.35,600.25,604.75,624.61,3972485,2.481245e+14,1202933.0,0.3028,Bajaj Auto Ltd.,AUTOMOBILE
1,2008-05-27,BAJAJ-AUTO,EQ,604.75,624.70,639.0,580.30,595.50,593.15,606.43,1751063,1.061901e+14,369389.0,0.2110,Bajaj Auto Ltd.,AUTOMOBILE
2,2008-05-28,BAJAJ-AUTO,EQ,593.15,561.65,621.9,561.65,605.10,608.15,608.75,1652355,1.005877e+14,898602.0,0.5438,Bajaj Auto Ltd.,AUTOMOBILE
3,2008-05-29,BAJAJ-AUTO,EQ,608.15,619.40,619.4,576.00,600.00,599.45,600.98,669269,4.022165e+13,449951.0,0.6723,Bajaj Auto Ltd.,AUTOMOBILE
4,2008-05-30,BAJAJ-AUTO,EQ,599.45,605.40,607.0,538.00,576.25,571.70,565.55,1262117,7.137937e+13,936432.0,0.7420,Bajaj Auto Ltd.,AUTOMOBILE

In [12]:
merged_df.drop(['Series_y'],axis=1,inplace=True)

KeyError: "['Series_y'] not found in axis"

In [13]:
merged_df.head()

,Date,Symbol,Series_x,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Deliverable Volume,%Deliverble,Company Name,Industry
0,2008-05-26,BAJAJ-AUTO,EQ,2101.05,898.00,898.0,551.35,600.25,604.75,624.61,3972485,2.481245e+14,1202933.0,0.3028,Bajaj Auto Ltd.,AUTOMOBILE
1,2008-05-27,BAJAJ-AUTO,EQ,604.75,624.70,639.0,580.30,595.50,593.15,606.43,1751063,1.061901e+14,369389.0,0.2110,Bajaj Auto Ltd.,AUTOMOBILE
2,2008-05-28,BAJAJ-AUTO,EQ,593.15,561.65,621.9,561.65,605.10,608.15,608.75,1652355,1.005877e+14,898602.0,0.5438,Bajaj Auto Ltd.,AUTOMOBILE
3,2008-05-29,BAJAJ-AUTO,EQ,608.15,619.40,619.4,576.00,600.00,599.45,600.98,669269,4.022165e+13,449951.0,0.6723,Bajaj Auto Ltd.,AUTOMOBILE
4,2008-05-30,BAJAJ-AUTO,EQ,599.45,605.40,607.0,538.00,576.25,571.70,565.55,1262117,7.137937e+13,936432.0,0.7420,Bajaj Auto Ltd.,AUTOMOBILE

In [ ]:
merged_df.to_csv('final_merged.csv')